<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Forms | Angular</title>
    <link rel="stylesheet" href="../src/angular/css/angular-material.min.css">

  </head>
  <body>
    <h1>Angular Forms</h1>

    <ol>
      <li><i>Source: <a href="https://material.angularjs.org/#/getting-started">https://material.angularjs.org/#/getting-started</a></i></li>   
      <li><i>Source: <a href="https://material.angularjs.org/#/demo/material.components.input">https://material.angularjs.org/#/demo/material.components.input</a></i></li>
    </ol>

    <div ng-app="inputErrorsApp" ng-controller="AppCtrl" layout="column">
      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
          Top Secret Project
        </h1>
      </md-toolbar>
      <md-content class="md-padding">
        <form name="projectForm">
          <md-input-container>
            <label>Description</label>
            <input md-maxlength="30" required name="description" ng-model="project.description">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Client Name</label>
            <input required name="clientName" ng-model="project.clientName">
            <div ng-messages="projectForm.clientName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Hourly Rate (USD)</label>
            <input required type="number" step="any" name="rate" ng-model="project.rate" min="800" max="4999">
            <div ng-messages="projectForm.rate.$error">
              <div ng-message="required">You've got to charge something! You can't just <b>give away</b> a Missile Defense System.</div>
              <div ng-message="min">You should charge at least $800 an hour. This job is a big deal... if you mess up, everyone dies!</div>
              <div ng-message="max">$5,000 an hour? That's a little ridiculous. I doubt event Bill Clinton could afford that.</div>
            </div>
          </md-input-container>
        </form>
      </md-content>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="/src/angular/js/angular.min.js"></script>
    <script src="/src/angular/js/angular-animate.min.js"></script>
    <script src="/src/angular/js/angular-aria.min.js"></script>
    <script src="/src/angular/js/angular-messages.js"></script>

    <script src="/src/angular/js/angular-material.min.js"></script>

    <script src="assets/js/forms-angular.js"></script>
  </body>
</html>